.Weather h2 {
  font-size: 65px;
}

.Weather ul {
  list-style: none;
  padding: 0px;
}

.Weather img {
  width: 85px;
}

.Weather .description {
  text-transform: capitalize;
}
.Weather .units {
  position: relative;
  top: 7px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(87, 84, 84);
}
